# .gitignore
# Python / FastAPI
__pycache__/
*.py[cod]
.venv/
env/
.env

# Flutter
.dart_tool/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de sistema
.idea/
.vscode/
*.ds_store
Thumbs.db